.About{
    background-color: beige;
    width: 100%;
  
}
.About-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.About-info{
    text-align: start;
    width: 1000px;
    line-height: 30px;
   
  
    font-family: 'afacad',sans-serif;
    height: max-content;
}

.About-info h1{
    font-size: 54px;
   
    text-align: center;
}
.About-info h4{
    font-size: 28px;
    line-height: 35px;
    
  
}


@media  screen and (max-width: 600px){
    .About-info h1{
        font-size: 50px;
    }
    .About-info h4{
        font-size: 22px;
    }
    .About-info{
        padding: 25px;
    }
}
